SMTP_HOST=217.71.129.139
SMTP_PORT=4030
SMTP_SECURE=tls
SMTP_USER=student@example.local
SMTP_PASS=change_me

IMAP_HOST=217.71.129.139
IMAP_PORT=4014
IMAP_SECURE=tls
IMAP_USER=student@example.local
IMAP_PASS=change_me

ALARM_MAIL_TO=student@example.local
ALARM_MAIL_FROM=student@example.local
